# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
.expo/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Expo
*.orig.*
web-build/

# Android
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/local.properties
